body{
    font-family: 'Quantico', sans-serif;

}
header{
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: black;
}
main{
    display: flex;
    background-color: lightslategray;
}
aside{
    height: 70%;
    width: 10%;
    text-align: center;
    background-color: grey;
}
article{
    display: block;
    background-color: lightgray;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
a{
    color: black;
    font-weight: bold;
}
ul{
    list-style: none;
    padding-top: 5%;
}
h1{
    color: azure;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    font-style: italic;
}
h3{
    text-align: center;
    padding-top: 3%;
}
#login{
    border-bottom: 2px solid black;
}
.card-deck{
    padding-top: 3%;
}
::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
     ::-webkit-scrollbar-thumb {
    background: #888; 
  }
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }